:root {
    --font-family-open-sans: 'Open Sans', sans-serif;
    --font-family-montserrat: Montserrat, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: var(--font-family-open-sans);
}
